body {
  font-family: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.card-weather {
  border: 1px solid #dee2e6;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 570px;
  background: linear-gradient(to top, rgba(0 0 0 / 0.5), rgba(0 0 0 / 0)),
    url(./images/unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center top 0px;
}

/* <!-- /Form/ --> */
.form-item {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.form-input {
  flex: 1;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 10px 0 0;
}

.form-submit {
  max-width: 25%;
  margin: 0 0px;
  padding-right: 15px;
  padding-left: 15px;
}

.form-button {
  max-width: 25%;
  margin: 0 0px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
}

.input-search {
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 6px;
  border-width: 1px;
  border-color: #dee2e6;
  width: 100%;
}

.input-search:hover,
.input-search:focus,
.input-search:active {
  border-color: #f96d00;
}

.btn-search {
  background: #f96d00;
  border: #f96d00;
  color: white;
  font-size: 12px;
  padding: 11px 15px;
  border: 1px #f96d00;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.btn-search:hover,
.btn-search:focus,
.btn-search:visited,
.btn-search:active {
  background-color: #f96c00b8;
  color: white;
  font-size: 12px;
}

.btn-current {
  background: #ff9e1f;
  color: white;
  font-size: 12px;
  padding: 11px 15px;
  border: 1px #ff9e1f;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.btn-current:hover,
.btn-current:focus,
.btn-current:visited,
.btn-current:active {
  background-color: #f96c00b8;
  color: white;
  font-size: 12px;
}

/* <!-- /Text/ --> */

.form-text {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
  gap: 30px;
  margin-right: 40px;
}

h1,
h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
}

li {
  font-size: 12px;
  color: #ffffff;
}

.form-text-icon {
  font-weight: 500;
  font-size: 28px;

  color: #f96d00;
}

a {
  color: #f96d00;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #f96d00;
  text-decoration: underline #f96d00;
}

.units {
  position: relative;
  top: 3px;
  right: -5px;
}

.col-temperature {
  display: flex;
}

/* <!-- /Weather/ --> */
.next-day {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-weather {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.form-weather-icon {
  font-size: 12px;
  color: #f96d00;
  padding-bottom: 5px;
  padding-top: 5px;
}

p {
  font-size: 12px;
  color: #ffffff;
}
